.navbarTop{
    background: crimson;
    height: 115px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 15;

     .navbarContainer{
        padding: 12.5px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .center-image{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 60%;
            background: crimson;
            margin: 0 20px;
            border-radius: 10px;
            object-fit: cover;
            max-width: 500px;
            max-height: 65px;
            
        }
        .left{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 25px;
        
            .item{
                display: flex;
                align-items: center;
                color: #ffa9a9;
                cursor: pointer;
                transition: 0.5s;

                &:hover{
                    color: white;
                    span{
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
            }
        }
        .right{
            position: relative;
            display: flex;
            align-items: center;
            gap: 25px;
            justify-content: center;
        }
        

                .item, .menubar {
                    display: flex;
                    align-items: center;
                    color: #ffa9a9;
                    cursor: pointer;
                    transition: 0.5s;
                    visibility: visible;
        
                    &:hover {
                        color: white;
        
                        span {
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }

                }

                .menubar svg{
                    font-size: 25px;
                }


                .subscribe-button {
                    background-color: crimson;
                    color: white;
                    padding: 7px 20px;
                    border: none;
                    border-radius: 10px;
                    font-size: 16px;
                    font-weight: 500;
                    cursor: pointer;
                    transition: 0.5s;
                    box-shadow: 0 0 10px 0px white;
                
                
                    &:hover {
                        background: linear-gradient(to bottom, #5E0404, #7D0404, crimson, #800000);
                        box-shadow: 0 0 10px 0px white, 0 0 20px 0px crimson;
                    }
                }
                .logo{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100px;
                    background-color: crimson;
                }

                .logo img{
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            
                
     }
} 
