*
{
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    word-wrap: break-word;
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #FFFFFF, #F0F0F0);
    height: 100%;
    width: 100%;
}